.iconButton {
  font-size: 2rem;
  padding: 0 0.5rem;
}

.toggleButton {
  font-size: 12px;
  font-weight: 800;
}

.toggleButton::before {
  font-size: 14;
  content: "◼";
  color: #4a5a6b;
  margin-right: 0.5rem;
}

.enabled::before {
  color: var(--font-color-secondary);
}

.playbackControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.125rem;
}
