.container {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 1rem;
}

/* Playback Controls */
.playbackControls {
  display: inline-block;
}

.playbackControls button {
  color: #4a5a6b;
  padding: 0.25rem 0.675rem;
}

.playbackControls button:active {
  color: var(--font-color-secondary);
}

/* Playlist Controls */
.playlistControls {
  justify-self: end;
  align-self: center;
}

.playlistControls button:last-child {
  margin-left: 1rem;
}

/* Toggle Button */
.toggleButton::before {
  content: "◼";
  color: #4a5a6b;
  margin-right: 0.375rem;
}

.toggleButton:active:before {
  color: var(--font-color-secondary);
}

.toggleButton.enabled::before {
  color: var(--font-color-secondary);
}

.toggleButton.enabled:active:before {
  color: #4a5a6b;
}
