.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;

  & span {
    font-size: 1.75em;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1em 0;
}

.toggleButton::before {
  content: "◼";
  color: #4a5a6b;
  margin-right: 0.625em;
}

.enabled::before {
  color: var(--font-color-secondary);
}

.playbackControls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.25rem;
}
