.playbackProgress {
  width: 100%;
  font-size: 20px;
  padding: 0.5em 0;

  /* Chrome, Safari, Opera, and Edge Chromium */
  &::-webkit-slider-runnable-track {
    background: linear-gradient(0.25turn, #1b1931, #262342, #1d1d37);
    height: 1em;
    border-width: 0.125em;
    border-style: solid;
    border-top-color: #1c1a32;
    border-left-color: #1c1a32;
    border-right-color: #595671;
    border-bottom-color: #595671;
  }

  /* Firefox */
  &::-moz-range-track {
    background: linear-gradient(0.25turn, #1b1931, #262342, #1d1d37);
    height: 1em;
    border-width: 0.125em;
    border-style: solid;
    border-top-color: #1c1a32;
    border-left-color: #1c1a32;
    border-right-color: #595671;
    border-bottom-color: #595671;
  }

  /* Chrome, Safari, Opera, and Edge Chromium */
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -0.125em; /* Centers thumb on the track */
    height: 1em;
    width: 2em;
    background-color: #755c22;
    border-width: 0.125em;
    border-style: outset;
    border-top-color: #483b26;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #c9ae64;
    box-shadow:
      inset 0 0 0 0.2em #f5e3b3,
      inset 0 0.3em #fff,
      inset 0 -0.3em #af9960;
  }

  /* Firefox */
  &::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    appearance: none;
    margin-top: -0.125em; /* Centers thumb on the track */
    height: 1em;
    width: 2em;
    background-color: #755c22;
    border-width: 0.125em;
    border-style: outset;
    border-top-color: #483b26;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #c9ae64;
    box-shadow:
      inset 0 0 0 0.2em #f5e3b3,
      inset 0 0.3em #fff,
      inset 0 -0.3em #af9960;
  }
}
