.albumDislpay {
    position: relative;
    width: 30px;
    height: 30px;
}

.albumDislpay img {
    width: 30px;
    height: 30px;
}

.albumDislpay button {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.albumDislpay:hover button {
    z-index: 100;
}
