.app {
  background: var(--app-background);
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  box-shadow:
    rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(15, 23, 42, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
  width: 520px;
  padding: 0 0.25rem;
}
